# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


#files
covariates/crop/data
covariates/development/data
covariates/ranch/data
covariates/conspecific
covariates/private
movementData
Switching3
august comments/
cody_timing_avery.csv
Final Draft.docx
Final Draft updated ORS.docx
Plasticity draft 8.docx
gathering_timing_avery.R
~$nal Draft updated ORS.docx
unusedPlasticityModels.Rmd
plasticity.Rmd
plasticity.html
papers
alluvial.jpeg
SDMplots.jpeg
balancing.csv
emModSel.txt
emPlots.jpeg
herdTactDistSuppTable.txt
ldmModSel.txt
res.jpeg
sdmModSel.txt
trimmedDay2.mp4
mapFigs




